<div class="col-lg-8">
  <div class="bs-component">
    <div class="card mb-3 bg-light">
      <h3 class="card-header"><%= @event.title %></h3>
      <div class="card-body">
        <div class="header-menu col-lg-12">
          <h6 class="card-subtitle text-muted"><%= @event.admin.first_name %> <%= @event.admin.last_name %></h6>
        <h6 class="card-subtitle text-muted"><%= @event.start_date %></h6>
        <h6 class="card-subtitle text-muted"><a href="#">number participants</a></h6>
      </div>
      <hr>
    </div>
      <div class="container">
      <div class="row">
      <%= image_tag @event.try(:avatar),class:"d-block user-select-none img-header"%>
      <div class="col-lg-8">
      <div class="card-body">
        <h3 class="card-text text-center"><%=@event.title%></h3>
        <p class="card-text description"><%= @event.description%></p>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="card-body">
        <h4 class="card-text"><%= @event.price%> €</h4>
        <h4 class="card-text"><%= @event.duration %> minutes</h4></div>
        <div class="participate">
        <a href="#" class="btn btn-lg btn-secondary btn-submit">Participer</a>
      </div>
      <hr>
        <div class="card-body author">
        <%= image_tag ("placeholder.jpg"),class:"img-thumbnail d-block user-select-none"%>
        <h4 class="card-text pt-3">username</h4>
         <p class="card-text"><%= @event.admin.description %></p>
      </div>
      <hr>
      <div class="social">
      <h1 class="fab fa-twitter-square text-secondary"></h1>
      <h1 class="fab fa-google-plus-square text-primary"></h1>
      <h1 class="fab fa-facebook-square text-secondary"></h1>
      <h1 class="fab fa-github-square text-primary"></h1>
    </div>
    </div>
  </div>
  </div>
  <div class="card-footer bg-primary text-light">
    <%= @event.created_at%>
  </div>
</div>
</div>