<p id="notice"><%= notice %></p>
  <main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2 class="display-4">Trouvez les évènements près de chez vous !</h2>
        <p>Découvrez les évènements disponibles proche de chez vous, physiquement ou en ligne.</p>
        <% if user_signed_in?%>
        <p class="profile-access"><a href="/profile/<%=current_user.id%>" class="btn btn-info btn-lg" role="button">Accéder à votre profil</a></p>
        <% else%>
        <p><a class="btn btn-info btn-lg" href="<%=new_user_registration_path%>" role="button">Inscrivez-vous</a></p>
        <p><button class="btn btn-danger"> <%= link_to "S'identifier", new_user_session_path, class:"text-white"%></button></p>
        <% end%>
      </div>
    </div>
    <div class="album py-5 bg-light">
    <div class="container">
    <div class="row">
    <% @events.reverse_each do |event| %>
    <div class="col-md-4 mt-2">
<div class="card shadow-sm text-white" style="max-width: 18rem,min-height: 18rem;">
  <div class="card-header bg-info"><a href="/events/<%=event.id%>"><%=event.title%></a></div>
  <div class="card-header bg-dark"><%= event.start_date %></div>
  <div class="card-header bg-dark"><%= event.duration %> min</div>
  <div class="card-header bg-dark"><%= event.location %></div>
  <div class="card-body bg-info"><h5 class="card-title">Description</h5><p class="card-text"><%= event.description %></p></div>
  <div class="card-header bg-danger text-center"><%= event.price %>€</div>
  </div>
  </div>

  <% end%>
  </div>
  </div>
    </div>
