<div class="view">
  <h1>Bienvenue, voici la page de <%= Gossip.find(@id).user.first_name %> <%= Gossip.find(@id).user.last_name %>.</h1>
  <p>Email: <%= Gossip.find(@id).user.email %></p>
  <p>City: <%= Gossip.find(@id).user.city.city_name %></p>
  <p>Age: <%= Gossip.find(@id).user.age %></p>
  <p>Description: <%= Gossip.find(@id).user.description %>.</p>
</div>